@font-face{
	font-family:Tengwar Annatar;
	src:url(../fonts/tengwar-annatar.eot);
	src:url(../fonts/tengwar-annatar.eot#iefix),
	url(../fonts/tengwar-annatar.woff) format('woff'),
	url(../fonts/tengwar-annatar.ttf) format('truetype'),
	url(../fonts/tengwar-annatar.svg#TengwarAnnatarItalic) format('svg');
	font-weight:400;
	font-style:normal
}
.tengwar.annatar.rendered{
	font-family:Tengwar Annatar;
	font-size:30px;
	line-height:240%
}