body {
	min-width:			1000px;
	background-color:	#eee;
	font-family: Georgia;
	font-size: 14px;
}

h1{
	border-bottom:1px solid #ccc;
	font-size:20px;
	font-weight:bold;
	letter-spacing:2px;
	margin-bottom:20px;
	text-transform:uppercase;
	text-shadow: 2px 2px 2px #AAA;  
}

form{
	background:#f7f7f7;
	background:-moz-linear-gradient(90deg, #ccc, #fff); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 15px #aaa;
	-webkit-box-shadow:0 0 15px #aaa;
	margin:60px auto 0;
	padding:20px;
	width:620px;
}

div.container {
	background:#f7f7f7;
	background:-moz-linear-gradient(90deg, #ccc, #fff); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 15px #aaa;
	-webkit-box-shadow:0 0 15px #aaa;
	margin:60px auto 0;
	padding:20px;
	width:620px;	
}
div.question {
	border-bottom: 1px solid #aaa;
	padding-bottom: 10px;
}

form div{
	margin-bottom:10px;
}

form div.collapsible {
  background: #444;
  color: #FFF;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  padding:10px;
  margin-top:5px;
  display: none;
}
div.options {
  background: #444;
  color: #FFF;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  padding:10px;
}

label
{
	vertical-align: top;
	font-size: 14px;
}

textarea
{
	background: rgba(255, 255, 255, 0.9);
	background:-moz-linear-gradient(90deg, #fff, #eee); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff), color-stop(0.2, #fff)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
	padding:5px;
	resize: vertical;
	font-family: Georgia;
	font-size: 15px;
	max-width: 620px;
}
textarea:focus
{	
  border-color:#093c75;
	-moz-box-shadow:0 0 3px #0459b7;
	-webkit-box-shadow:0 0 3px #0459b7;
	outline:none; 
}

.tengwar {
	text-align: center;
	font-family:		Tengwar Annatar, Tengwar Parmaite, Tenguar;
	font-size: 			40px;
	text-shadow: 2px 2px 2px #AAA; 
}	

.tengwar_italic {
	text-align: center;
	font-family:		Tengwar Annatar, Tengwar Parmaite, Tenguar;
	font-style: italic;
	font-size: 			40px;
	text-shadow: 2px 2px 2px #AAA; 
}
.option
{
	width:90px;
	font-weight:bold;
	float:left;
	text-align:right;
	font-size: 14px;
}
a.button{
	background:#ddd;
	background:-moz-linear-gradient(90deg, #0459b7, #08adff); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#08adff), to(#0459b7)); /* Webkit */
	border:1px solid #093c75;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 1px 0 #fff;
	-webkit-box-shadow:0 1px 0 #fff;
	color:#fff;
	cursor:pointer;
	font-family:Arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	/*margin-left:120px;*/
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0 1px 1px #333;
	text-transform:uppercase;
}
a.button:hover{
	background:#eee;
	background:-moz-linear-gradient(90deg, #067cd3, #0bcdff);
	background:-webkit-gradient(linear, left top, left bottom, from(#0bcdff), to(#067cd3));
	border-color:#093c75;
	text-decoration:none;
}
a.button:active,
a.button:focus{
	background:#ccc;
	background:-moz-linear-gradient(90deg, #0bcdff, #067cd3);
	background:-webkit-gradient(linear, left top, left bottom, from(#067cd3), to(#0bcdff));
	border-color:#093c75;
	outline:none;
}

a{
	color:#aaa;
	cursor:pointer;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0 1px 1px #333;
	text-transform:uppercase;	
}
a:hover{
	color:#ccc;
	text-decoration:underline;
}
a:active,
a:focus{
	color:#fff;
	text-decoration:underline;
}